body {
  background-image: url('../assets/404.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}


h1 {
  margin: 63px 0 0 102px;
  font-weight: 700;
  line-height: 125%;
  color: rgba(255, 59, 61, 0.8);
  font-size: 62px; 
}

h2 {
  margin: 0 0 0 102px;
  width: 648px;
  font-size: 18px;
  text-align: justify;
  line-height: 160%; 
  font-size: 36px;
}

p {
  margin: 16px 0 0 102px;
  width: 648px;
  font-size: 18px;
  text-align: justify;
  line-height: 160%;  
}