body {
  background-image: url('../assets/explorer.png');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

h1 {
  margin: 63px 0 0 102px;
  font-weight: 700;
  line-height: 125%;
}

p {
  margin: 16px 0 0 102px;
  width: 648px;
  font-size: 18px;
  text-align: justify;
  line-height: 160%;  
}